<!doctype html>
<html>
<head>
    <script type="text/javascript">
        var url_root = "/dashboard";
            static_root = "/dashboard/static/";
    </script>
    <script data-main="{{ url_for('dashboard.static', filename='js/main.js')}}"
        src="{{url_for('dashboard.static', filename='js/vendor/requirejs/require.js')}}">
    </script>

    <link href="{{url_for('dashboard.static', filename='js/vendor/bootstrap/dist/css/bootstrap.min.css')}}" rel="stylesheet">
    <link href="{{url_for('dashboard.static', filename='css/main.css')}}" rel="stylesheet">
</head>
<body>
</body>
</html>
